<!-- *********** Loading ************** -->
<div *ngIf="preloadimg" class="preloadingimg">
  <img src="./assets/images/icons/preloader.gif">
</div>
<div *ngIf="apiLoading" class="loadingApi">
  <img src="./assets/images/icons/loading.gif">
</div>
<!-- *********** Loading ************** -->
<app-menu-header></app-menu-header>
<section class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Title -->
      <div class="title-column col-md-6 col-sm-12 col-xs-12">
        <h1 class="text-uppercase">FOR SELL</h1>
      </div>
    </div>
  </div>
</section>


<section class="sec-padding offer-rent" >
  <div class="auto-container">
    <div class="content-side">
      <div class="content-section services-content">
        <div class="text-block text-justify">
          <div class="sec-title"><h3>INVESTFAR</h3></div>
          <h4>Welcome to the future of real estate investing.</h4>
          <p>Location, location. location! It's an old saying in real estate, but very true. The most important part of investing in out of market properties is picking location. Rising prices are forcing many real estate investors to consider in¬vesting in out-of-state properties. Out-of-state investing is not easy, but can be done and can produce great results. You must build a great team. buy below market value and keep a close eye on your properties.</p>
          <p>It will be virtually impossible to buy. repair and manage homes from anot¬her state by yourself. It will save you money and heartache in the long run to use local professionals who know the market. You will need a great team to handle buying and renting a long-distance property for you.</p>
          <p>With the resources on InvestFar you can build that team on one platform without ever leaving your home.</p>
        </div>
      </div>
    </div>

    <div class="row" #structure  id="structure">
      <div class="col-sm-5 col-md-4">
        <div class="rent-side margin-bott-40">
           <!-- set offer type -->
          <input type="hidden" name="field-name" [(ngModel)]="filter.offer_type">
          <h4>PROPERTY TYPE</h4>
          <div class="inner">
            <div class="clearfix">
              <label class="rent-side-radio pull-left">ANY 
                <input type="radio" name="radio"
                [value]="0" [(ngModel)]="filter.property_type" >
                <span class="checkmark"></span>
              </label>
            </div>
            <div class="clearfix" *ngFor="let p of propertyTypes">
              <label class="rent-side-radio pull-left">{{p.text}}
                <input type="radio" name="radio" [value]="p.value" [(ngModel)]="filter.property_type">
                <span class="checkmark"></span>
              </label>
            </div>
          </div>

          <div *ngIf="originalKey != 'city'"> 
            <h4>CITY</h4>
            <div class="inner">
              <div class="form-group">
                <div class="custom-select">
                  <div class="select-selected">                    
                    <select [(ngModel)]="filter.city">
                      <option value="0">Select City</option>
                      <option *ngFor="let c of citiesOptions" [value]="c.city">{{c.city}}</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <h4>PRICE($)</h4>
          <div class="inner form-block">
            <div class="row rent-row">
             <div class="col-xs-6 col">
              <div class="form-group">
                <input currencyMask type="text" name="field-name" [(ngModel)]="filter.min_price" placeholder="From">
              </div>
            </div>
            <div class="col-xs-6 col">
              <div class="form-group">
                <input currencyMask type="text" name="field-name" [(ngModel)]="filter.max_price" placeholder="To">
              </div>
            </div>
          </div>
        </div>

        <h4>KEYWORD</h4>
        <div class="inner form-block">
          <div class="form-group">
            <input type="text" name="field-name" placeholder="KEYWORD" [(ngModel)]="filter.keyword">
          </div>
        </div>

        <h4>BEDROOMS</h4>
        <div class="inner form-block">
          <div class="row rent-row">
            <div class="col-xs-6 col">
             <div class="form-group">
               <div class="custom-select">
                 <div class="select-selected">
                  <select [(ngModel)]="filter.from_bed_rooms">
                    <option value="0">From</option>
                    <option *ngFor="let tf of to_from" [value]="tf.value" [disabled]="filter.to_bed_rooms == 0 ? false : tf.value >= filter.to_bed_rooms">{{tf.text}}</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="col-xs-6 col">
           <div class="form-group">
             <div class="custom-select">
               <div class="select-selected">
                <select [(ngModel)]="filter.to_bed_rooms">
                  <option value="0">To</option>
                  <option *ngFor="let tf of to_from" [value]="tf.value" [disabled]="tf.value <= filter.from_bed_rooms">{{tf.text}}</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <h4>BATHROOMS</h4>
    <div class="inner form-block">
      <div class="row rent-row">
        <div class="col-xs-6 col">
         <div class="form-group">
           <div class="custom-select">
             <div class="select-selected">
              <select [(ngModel)]="filter.from_bath_rooms">
                <option value="0">From</option>
                <option *ngFor="let tf of to_from" [value]="tf.value" [disabled]="filter.to_bath_rooms == 0 ? false : tf.value >= filter.to_bath_rooms">{{tf.text}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-6 col">
       <div class="form-group">
         <div class="custom-select">
           <div class="select-selected">
             <select [(ngModel)]="filter.to_bath_rooms">
               <option value="0">To</option>
               <option *ngFor="let tf of to_from" [value]="tf.value" [disabled]="tf.value <= filter.from_bath_rooms">{{tf.text}}</option>
             </select>
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>

 <h4>PROPERTY SIZE (FT2)</h4>
 <div class="inner form-block">
  <div class="row rent-row">
    <div class="col-xs-6 col">
     <div class="form-group">
      <input class="form-control side_input" [(ngModel)]="filter.from_property_size" placeholder="From" type="number"
                  [min]="0" [step]="50">
    </div>
  </div>
  <div class="col-xs-6 col">
   <div class="form-group">
      <input class="form-control side_input" [(ngModel)]="filter.to_property_size" placeholder="To" type="number"
                  [min]="0" [step]="50">
  </div>
</div>
</div>
</div>

<h4>HOA FEES($)</h4>
<div class="inner form-block">
  <div class="form-group">
    <input currencyMask class="form-control side_input" [(ngModel)]="filter.hoafees" placeholder="HOA Fees" type="text" [min]="0">
  </div>
</div>


<h4>YEAR</h4>
<div class="inner form-block">
  <div class="row rent-row">
    <div class="col-xs-6 col">
     <div class="form-group">
       <div class="custom-select">
         <div class="select-selected">
          <select [(ngModel)]="filter.from_year" >
            <option value="0">From</option>
           <option *ngFor="let y of years" [value]="y" [disabled]="filter.to_year == 0 ? false : y >= filter.to_year" >{{y}}</option>                                   </select>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-6 col">
     <div class="form-group">
       <div class="custom-select">
         <div class="select-selected">
          <select [(ngModel)]="filter.to_year" >
            <option value="0" >To</option>
            <option *ngFor="let y of years" [value]="y" [disabled]="y <= filter.from_year">{{y}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<h4>FEATURES</h4>
<div class="inner form-block">
  <div class="form-group check-box" *ngFor="let f of features; let i = index;">
    <input name="check{{i}}" type="checkbox" [value]="f.value" [checked]="filter.feature.indexOf(f.value) > -1 " (change)="featureChange(f.value, filter.feature.indexOf(f.value) > -1 , i ) "> 
    <label for="check{{i}}">&ensp;{{f.text | uppercase}}</label>
  </div>
</div>

<h4>PARKING </h4>
<div class="inner form-block">
  <div class="form-group">
    <input class="form-control" [(ngModel)]="filter.parking" placeholder="How many parking" type="number"
    [min]="0">
  </div>
</div>

<h4>Rating</h4>
<div class="inner form-block">
  <div class="row rent-row">
    <div class="col-xs-6 col">
     <div class="form-group">
       <div class="custom-select">
        <div class="select-selected">
          <select [(ngModel)]="filter.from_rating">
            <option value="0">From</option>
            <option *ngFor="let r of ratingOptions" [disabled]="filter.to_rating == 0 ? false : r.value >= filter.to_rating" [value]="r.value">{{r.text}}</option>
          </select>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xs-6 col">
   <div class="form-group">
     <div class="custom-select">
       <div class="select-selected">
        <select [(ngModel)]="filter.to_rating">
          <option value="0">To</option>
          <option *ngFor="let r of ratingOptions" [disabled]="r.value <= filter.from_rating" [value]="r.value">{{r.text}}</option>
        </select>
      </div>
    </div>
  </div>
</div>
</div>
</div>



<h4>How much do you think the home is worth?</h4>
<div class="inner form-block">
  <div class="form-group">
   <input currencyMask class="form-control side_input" [(ngModel)]="filter.home" placeholder="How much do you think"
                    type="text" [min]="0">
  </div>
</div>

<h4>is the home vacant,rented or live in ?</h4>
<div class="inner">
  <div class="form-group">
    <div class="custom-select">
      <div class="select-selected">
        <select [(ngModel)]="filter.live">
          <option value="">Select</option>
          <option value="Vacant">Vacant</option>
          <option value="Rented">Rented</option>
          <option value="Lived In">Lived In</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row rent-row">
    <div class="col-xs-6 col"><button type="button" class="btn-style-two width_full text-uppercase" (click)="onChange()">Submit</button></div>
    <div class="col-xs-6 col"><button (click)="onClear()" type="button" class="btn-style-two width_full text-uppercase">Clear</button></div>
  </div>
</div>
</div>
</div>

<div class="col-sm-7 col-md-8 latest-listings no-padding">

  <div class="sec-title margin-bott-30 col-sm-12"><h3>TOWNHOUSE</h3></div>

  <div class="found mb_10">
          <strong>{{totalCount}} FOUND</strong>
  </div>

  <div class="col-sm-12 col-md-6" *ngFor="let p of properties" >
    <div class="listing-main" target="_blank">
      <div class="listing-img">
        <div class="price" *ngIf="p.price != '-1'" >{{p.price | currency}}</div>
        <div class="price" *ngIf="p.price == '-1'" >See Valuation Report</div>
        <div class="star"><i class="fa fa-star-o" aria-hidden="true"></i></div>
        <img src="{{p.image1}}" alt="" class="img-responsive" width="100%">
      </div>

      <div class="listting-inner">
      <div class="properties_details">
        <h4 class="item-title">{{p.title}}</h4>
        <p class="item-location"><i class="fa fa-map-marker" aria-hidden="true"></i> {{p.address}}</p>
          <p class="year-ago">{{ p.posted_at }}</p>
          </div>
          <a class="theme-btn btn-style-one text-center" (click)="getDetails(p.property_slug)">DETAILS</a>
        </div>

      </div>
    </div>
   <!--  <div class="col-sm-12 col-md-6">
      <div class="listing-main" target="_blank">
        <div class="listing-img">
          <div class="price">$8,500.00</div>
          <div class="star"><i class="fa fa-star-o" aria-hidden="true"></i></div>
          <img src="./assets/images/resource/offer-rent-02.jpg" alt="" class="img-responsive" width="100%">
        </div>

        <div class="listting-inner">
          <h4 class="item-title">Warm and Cozy Apartment</h4>
          <p class="item-location"><i class="fa fa-map-marker" aria-hidden="true"></i> 790 East Cesar E Chavez Avenue, Los Angeles,<br> CA 90012, USA</p>
          <p class="year-ago">a year ago</p>
          <a href="#" class="theme-btn btn-style-one text-center" target="_blank">DETAILS</a>
        </div>

      </div>
    </div> -->
  </div>
</div>
</div>
</section>
