<!-- *********** Loading ************** -->
<div *ngIf="preloadimg" class="preloadingimg">
  <img src="./assets/images/icons/preloader.gif">
</div>
<div *ngIf="apiLoading" class="loadingApi">
  <img src="./assets/images/icons/loading.gif">
</div>
<!-- *********** Loading ************** -->
<app-menu-header></app-menu-header>
<section class="inner-banner">
    <div class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
        <!--Header-Lower-->
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-sm-12 col-xs-12">
                    <h1>Registration</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="auto-container">
        <div class="row login-form agent padd-top-70 padd-bott-60">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="form-outer form-block">
                    <div class="form_login_fill" *ngIf="registrationForm">
                        <form [formGroup]="registrationForm" (ngSubmit)="onSubmit()">
                            <div class="default-title">
                             <h2 *ngIf="companyType == 1">Company Registration</h2>
                             <h2 *ngIf="companyType == 2">Contractor Registration</h2>
                             <h2 *ngIf="companyType == 3">Real Estate Agent Registration</h2>
                         </div>

                         <div class="form-group">
                            <div class="field-label">First Name</div>
                            <input formControlName="companyName" type="text">                    
                        </div>

                        <div class="row">
                            <div class="col-sm-12 col-md-6 no-margin">
                                <div class="form-group">
                                    <div class="field-label">Email</div>
                                    <input formControlName="email" type="email">
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-6 no-margin">
                               <div class="form-group">
                                <div class="field-label">Website URL</div>
                                <input formControlName="website" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                       <div class="col-sm-12 col-md-6 no-margin">
                           <div class="form-group">
                            <div class="field-label">Select Country</div>
                            <div class="custom-select">
                                <div class="select-selected">
                                    <select formControlName="countryCode">
                                        <option value="">Country Code</option>
                                        <option *ngFor="let c of countryCode" [value]="c.code">{{c.code}} {{c.callingCode}} </option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6 no-margin">
                       <div class="form-group">
                        <div class="field-label">Phone Number</div>
                        <input class="form-control side_input" formControlName="number" type="text" mask='000-000-0000' [min]="0" >
                    </div>
                </div>
            </div>

            <div class="row">
               <div class="col-sm-12 col-md-6 no-margin">
                   <div class="form-group">
                    <div class="field-label">Primary Business Address</div>
                    <div class="form-group choose-location">
                     <input class="form-control side_input location" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
                     (onAddressChange)="handleAddressChange($event)" type="text" style="display: none; border:none;" placeholder="">

                     <input class="form side_input location" formControlName="addr" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places"
                     (onAddressChange)="handleAddressChange($event)" type="text" autocomplete="skdmnfjksdnfkjsdfndks" placeholder="">              
                 </div> 
             </div>
         </div>

         <div class="col-sm-12 col-md-6 no-margin">
            <div class="form-group">
                <div class="field-label">City</div>
                <input class="form-control side_input" formControlName="city" type="text">
            </div>
        </div>
    </div>

    <div class="row">
       <div class="col-sm-12 col-md-6 no-margin">
           <div class="form-group">
            <div class="field-label">State</div>
            <input class="form-control side_input" formControlName="state" type="text">
        </div>
    </div>

    <div class="col-sm-12 col-md-6 no-margin">
       <div class="form-group">
        <div class="field-label">Zip Code</div>
        <input formControlName="zipcode" type="text" >
    </div>
</div>

<div class="col-sm-12 col-md-12 no-margin">
 <div class="form-group">
     <div class="field-label">Password</div>
     <input formControlName="password" type="password">
 </div>
</div>


</div>

<div class="form-group check-box" (click)="citiesGet()">
    <input type="checkbox" name="moreCities" formControlName="moreCities" id="cities"> 
    <label for="cities">We also operate in additional cities</label>
</div>

<div class="toggle-open Morecities" style="display: none;"> 
   <div class="row">
       <div class="col-sm-12 col-md-6 no-margin">
           <div class="form-group margin-bott-10">
            <div class="field-label">City</div>
            <input formControlName="city" type="text">       
        </div>
    </div>

    <div class="col-sm-12 col-md-6 no-margin">
       <div class="form-group margin-bott-10">
        <div class="field-label">State</div>
        <input formControlName="state" type="text">   
    </div>
</div>
</div>
<div class="text-left margin-bott-10"><a>Add More Location</a></div>
</div>

<div class="form-group check-box">
    <input type="checkbox" name="" id="licensed">&ensp; 
    <label for="licensed">Are you a licensed agent?</label>
</div>
<div class="form-group check-box">
    <input type="checkbox" name="" id="other-licenses">&ensp; 
    <label for="other-licenses">Other Licenses:</label>
</div>
<div class="form-group check-box">
    <input type="checkbox" name="" id="broker-address">&ensp; 
    <label for="broker-address">Broker Address</label>
</div>
<div class="form-group check-box">
    <input type="checkbox" name="" id="website">&ensp; 
    <label for="website">website</label>
</div>


<input type="checkbox" id="myCheck" formControlName="isCertified" (change)="imageCheck()" style="visibility: hidden;">


<button type="submit" [ngClass]="{'active_side_btn' : isFormValid()}" class="btn-style-two width_full text-uppercase">Sign up</button>
</form>
</div>
</div>
</div>
</div>
</div>
</section>