<footer class="main-footer">
        
        <!--Widgets Section-->
        <div class="widgets-section">
          <div class="auto-container">
              <div class="row clearfix">
                  <!--Big Column-->
                  <div class="big-column col-md-6 col-sm-12 col-xs-12">
                      <div class="row clearfix">
                            
                            <!--Footer Column-->
                          <div class="footer-column col-md-7 col-sm-6 col-xs-12">
                              <div class="footer-widget about-widget">
                                  <div class="footer-logo"><a [routerLink]="['/']"><img src="./assets/images/logo-three.png" alt=""></a></div>
                                    <div class="widget-content">
                                      <div class="text">The future of real estate investing is now. Don't let your current location limit your success in real estate investing. </div>
                                        <ul class="contact-info">
                                          <li><span class="icon flaticon-placeholder"></span>11611 San Vicente Blvd
                                             <br> Los Angeles, CA 90049</li>
                                            <li><span class="icon flaticon-envelope-1"></span>
                                                <a href="mailto:Info@investfar.com">Info@investfar.com</a></li>
                                            <li><span class="icon flaticon-smartphone-call"></span>
                                                <a>1-855-737-4338</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            
                            <!--Footer Column-->
                          <div class="footer-column col-md-offset-1 col-md-4 col-sm-6 col-xs-12">
                              <div class="footer-widget links-widget">
                                  <h2>PAGES</h2>
                                    <div class="widget-content">
                                      <ul class="list">
                                                <li><a [routerLink]="['/valuation']">VALUATION</a></li>
                                                <li><a >REPORT/COMPS </a></li>
                                                <li><a >REQUEST</a></li>
                                                <li><a [routerLink]="['/pricing']">PRICING</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <!--Big Column-->
                  <div class="big-column col-md-6 col-sm-12 col-xs-12">
                      <div class="row clearfix">
                            <!--Footer Column-->
                          <div class="footer-column col-md-offset-1 col-md-5 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                  <h2>INFORMATION</h2>
                                    <div class="widget-content">
                                      <ul class="list">
                        <li><a [routerLink]="['/aboutus']">ABOUT US </a></li>
                        <li><a [routerLink]="['/careers']">CAREERS</a></li>
                        <li><a [routerLink]="['/contact-us']">CONTACT US</a></li>
                        <li><a>INVESTFAR</a></li>
                        <li><a [routerLink]="['/privacy-policy-terms']">PRIVACY POLICY &amp; TERMS</a></li>
                                        </ul>
                                    </div>
                                </div>  
                            </div>
                            
                            <!--Footer Column-->
                          <div class="footer-column col-md-6 col-sm-6 col-xs-12">
                              <div class="footer-widget subscribe-widget">
                                  <h2>SUBSCRIBE NEWSLETTER</h2>
                                    <div class="widget-content">
                                      
                                        <div class="newsletter-form">
                                            <form method="post" action="contact.html">
                                                <div class="form-group">
                                                    <input type="email" name="email" value="" placeholder="Enter your Email" required>
                                                    <button type="submit" class="theme-btn"><span class="fa fa-paper-plane-o"></span></button>
                                                </div>
                                                
                                            </form>
                                        </div>
                                        <div class="text">Get latest news and updates</div>
                                        
                                        <div class="social-links">
                                          <ul class="clearfix">
                                                <li><a href="https://www.facebook.com/pg/InvestFar/photos/?tab=album&album_id=266984223775461" target="_blank"><span class="fa fa-facebook-f"></span> Facebook</a></li>
                                                <li><a href="https://twitter.com/InvestFar" target="_blank"><span class="fa fa-twitter"></span> Twitter</a></li>
                                                <li><a><span class="fa fa-google-plus"></span> Goole plus</a></li>
                                                <li><a href="https://www.instagram.com/p/BUbajIphOSN/" target="_blank"><span class="fa fa-linkedin"></span> Linkedin</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                    
                 </div>
             </div>
         </div>
         
         <!--Footer Bottom-->
         <div class="footer-bottom">
          <div class="auto-container">
              <div class="text">Copyright &copy; All Rights Reserved InvestFar</div>
            </div>
         </div>
         
    </footer>

    <div class="scroll-to-top scroll-to-target" (click)="scrollTOElement()" id="scroll-to-target" style="display:none;">
        <span class="fa fa-long-arrow-up"></span>
    </div>
