<div *ngIf="preloadimg" class="preloadingimg">
    <img src="./assets/images/icons/preloader.gif">
</div>
<app-menu-header></app-menu-header>

<section class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <h1 class="text-uppercase">Bank Detail & KYC Verification</h1>
                </div>
            </div>
        </div>
</section>

<section>
<div class="auto-container">
    <div class="row login-form padd-top-70 padd-bott-40">
    <div class="col-sm-12 col-md-12">
        <div class="form-outer form-block">
        <p class="margin-bott-20">We Require your bank detail and KYC information for online payment receive. Please fill all valid information.</p>
        <div class="default-title padd-bott-10"><h2>Bank Detail</h2></div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">Account Holder Name</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
               <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">Swift Bic</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
               <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">IBAN</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
        </div>

          <div class="default-title padd-top-40 padd-bott-10"><h2>KYC Verification</h2></div>
          <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">Title</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
               <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">First Name</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
               <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">Last Name</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">Title</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
               <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">Date Of Birth</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
               <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">Flat Number</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
        </div>

         <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">Building Number</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
               <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">Street</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
               <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">Town</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">State</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
               <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">Country</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
               <div class="col-sm-4">
                <div class="form-group">
                    <div class="field-label">Postcode</div>
                    <input type="text" name="field-name" value="" placeholder="">
                 </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4">
            <button type="button" class="btn-style-two width_full text-uppercase">SUBMIT</button></div>
        </div>
     </div>

     </div>
    </div>
</div>
</section>

