<!-- *********** Loading ************** -->
<div *ngIf="preloadimg" class="preloadingimg">
    <img src="./assets/images/icons/preloader.gif">
</div>
<div *ngIf="apiLoading" class="loadingApi">
    <img src="./assets/images/icons/loading.gif">
</div>
<!-- *********** Loading ************** -->
<app-menu-header></app-menu-header>
<section class="inner-banner">
    <div class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
        <!--Header-Lower-->
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-sm-12 col-xs-12">
                    <h1>Edit Profile</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="auto-container">
        <div class="row login-form agent padd-top-70 padd-bott-60">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="form-outer form-block">
                    <div class="default-title"><h2>Edit Profile</h2></div>
                    <div class="profile-pic" *ngIf="!profileImage">
                        <img src="{{user.profileImage}}" alt="img" title="img">
                    </div>
                    <div class="profile-pic" *ngIf="profileImage">
                        <img src="{{profileImagePreview}}" alt="img" title="img">
                    </div>

                    <div class="changeProfilePicBtn">
                      <span class="changeProfileBtn">
                        <input type="file" accept="image/*" id="profileChange" style="display: none;" (change)="onProfileImage($event.target.files)">
                        <label for="profileChange">
                          <i class="fa fa-camera"></i>
                          Upload Image
                      </label>
                  </span>
              </div>

              <form [formGroup]="editProfileForm" class="modalContent" (ngSubmit)="onSubmit()" *ngIf="editProfileForm">
                <div class="form-group" *ngIf="user.registrationType == 1">
                    <div>First Name</div>
                    <input type="text" class="form-control" [ngClass]="{ 'error-code' : f.firstName.touched && f.firstName.errors && f.firstName.errors.required}" formControlName="firstName">
                </div>
                <div class="form-group" *ngIf="user.registrationType == 1">
                    <div>Last Name</div>
                    <input type="text" class="form-control" [ngClass]="{ 'error-code' : f.lastName.touched && f.lastName.errors && f.lastName.errors.required}" formControlName="lastName">
                </div>    
                <div class="form-group" *ngIf="user.registrationType == 2">
                    <div class="field-label">Company Name</div>
                    <input type="text" class="form-control" [ngClass]="{ 'error-code' : f.companyName.touched && f.companyName.errors && f.companyName.errors.required}" formControlName="companyName">
                </div>

                <div class="row">
                    <div class="col-sm-12 col-md-12 no-margin">
                        <div class="form-group">
                            <div class="field-label">Email</div>
                            <input type="email" class="form-control" [ngClass]="{ 'error-code' : f.email.touched && f.email.errors && (f.email.errors.required || f.email.errors.email)}" formControlName="email">
                        </div>
                    </div>
                </div>

                <div class="row">
                   <div class="col-sm-12 col-md-6 no-margin">
                       <div class="form-group">
                        <div class="field-label">Select Country</div>
                        <div class="custom-select">
                         <div class="select-selected">
                          <select formControlName="countryCode">
                              <option *ngFor="let c of countryCode" [value]="c.code">{{c.code}} {{c.callingCode}} </option>
                          </select>
                      </div>
                  </div>
              </div>
          </div>

          <div class="col-sm-12 col-md-6 no-margin">
           <div class="form-group">
            <div class="field-label">Phone Number</div>
            <input type="text" class="form-control" mask='000-000-0000' [ngClass]="{ 'error-code' : f.number.touched && f.number.errors && f.number.errors.required}" formControlName="number">
        </div>
    </div>
</div>


<div class="row">
    <div class="col-sm-12 col-md-12 no-margin">
        <div class="form-group">
            <div class="field-label">Address</div>
            <input class="form-control" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" type="text" style="display: none;"> 

            <input class="form-control" ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" type="text" [ngClass]="{ 'error-code' : f.addr.touched && address && address.address == undefined }"  formControlName="addr" >
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-md-12 no-margin">
        <div class="form-group">
            <div class="field-label">Bio</div>
            <input type="text" class="form-control" formControlName="bio">
        </div>
    </div>
</div>

<button type="submit" class="btn-style-two width_full text-uppercase" [disabled]="!isFormValid()" >Edit Profile</button>
</form>
</div>
</div>
</div>
</div>
</section>



