<div *ngIf="preloadimg" class="preloadingimg">
  <img src="./assets/images/icons/preloader.gif">
</div>
<app-menu-header></app-menu-header>
<section class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Title -->
      <div class="title-column col-md-6 col-sm-12 col-xs-12">
        <h1 class="text-uppercase">Map</h1>
      </div>
    </div>
  </div>
</section>

<section class="sec-padding offer-rent" >
  <div class="auto-container">
    <div class="content-side">
      <div class="content-section services-content">
        <div class="text-block text-justify">
          <div class="sec-title"><h3>MAP</h3></div>
          <h4>Welcome to the future of real estate investing.</h4>
          <p>Location, location. location! It's an old saying in real estate, but very true. The most important part of investing in out of market properties is picking location. Rising prices are forcing many real estate investors to consider in¬vesting in out-of-state properties. Out-of-state investing is not easy, but can be done and can produce great results. You must build a great team. buy below market value and keep a close eye on your properties.</p>
          <p>It will be virtually impossible to buy. repair and manage homes from anot¬her state by yourself. It will save you money and heartache in the long run to use local professionals who know the market. You will need a great team to handle buying and renting a long-distance property for you.</p>
          <p>With the resources on InvestFar you can build that team on one platform without ever leaving your home.</p>
        </div>
      </div>

      <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" (mapClick)="mapClicked($event)">
        <agm-marker *ngFor="let m of markers; let i = index" (markerClick)="clickedMarker(m.label, i)" [latitude]="m.lat" [longitude]="m.lng"
        [label]="m.label" [markerDraggable]="m.draggable" (dragEnd)="markerDragEnd(m, $event)">
        <agm-info-window>
          <strong>{{title}}</strong>
        </agm-info-window>
      </agm-marker>
    </agm-map>
    
  </div>
</div>
</section>



