<div *ngIf="preloadimg" class="preloadingimg">
    <img src="./assets/images/icons/preloader.gif">
</div>
<app-menu-header></app-menu-header>
<section class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <h1 class="text-uppercase">About Us</h1>
                </div>
            </div>
        </div>
    </section>


        <section class="sec-padding">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-sm-4">
                   <div class="video-container">
                  <iframe src="https://player.vimeo.com/video/246744111" width="100%" height="420"></iframe>
                </div>
                </div>


                <div class="content-side col-sm-8">
                    <div class="content-section services-content">
                        <div class="text-block text-justify">
                            <p>InvestFar is the leading real estate investor marketplace and database specifically dedicated to empowering real estate investors with data, resources and knowledge to instill confidence in investing in any market nationwide, by connecting them with the best local investor consultants and tools to make informed buying decisions.</p>

                            <p>InvestFar serves single/multi-family investors to effectively grow and manage real estate portfolios from buying, selling, renting, financing, and remodeling in any market nationwide. InvestFar’s database includes homes for sale, rent and homes not currently on the market, as well as provides other investment related information like valuation reports, market data and area analytics.</p>

                            <p>InvestFar also operates the most popular mobile real estate investor app for home improvement services along with a host of private lenders and funding options with a free marketplace to list once rehabbed.</p>
                            <p>Companies and contractors can also schedule, cancel, book and review quote request on the app to manage clients on the go.</p>

                            <p>Not familiar with a certain market and are interested in buying there? Speak with an investor consultant in that market as well.</p>

                            <p>InvestFar launched in 2017 and is headquartered in Los Angeles, CA.</p>
                           </div>
                        
                        <!--Two Column-->
                        <!--End Two Column-->
                    </div>
                </div>
            </div>
        </div>
        </section>