<!-- *********** Loading ************** -->
    <div *ngIf="preloadimg" class="preloadingimg">
        <img src="./assets/images/icons/preloader.gif">
    </div>
    <div *ngIf="apiLoading" class="loadingApi">
        <img src="./assets/images/icons/loading.gif">
    </div>
<!-- *********** Loading ************** -->
<app-menu-header></app-menu-header>

<section class="inner-banner">
<div class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
<!--Header-Lower-->
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-sm-12 col-xs-12">
                    <h1>Change Password</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
<div class="auto-container">
    <div class="row login-form agent padd-top-70 padd-bott-60">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="form-outer form-block">
        <div class="default-title"><h2>Change Password</h2></div>

        <form [formGroup]="changePasswordForm" class="modalContent" (ngSubmit)="onSubmit()" *ngIf="changePasswordForm">

        <div class="form-group">
            <div class="field-label">Old Password</div>
            <input type="password" class="form-control" (change)="onChange()" [ngClass]="{ 'error-code' : f.oldPassword.touched && f.oldPassword.errors && f.oldPassword.errors.required}"
          formControlName="oldPassword">
         </div>

        <div class="row">
        <div class="col-sm-12 col-md-12 no-margin">
        <div class="form-group">
            <div class="field-label">New Password</div>
            <input type="password" class="form-control" (change)="onChange()" [ngClass]="{ 'error-code' : f.newPassword.touched && f.newPassword.errors && f.newPassword.errors.required}"
          formControlName="newPassword">
          <span class="alert" *ngIf="newPasswordSpan">New password should not be same as old password.</span>
        </div>
        </div>

        <div class="col-sm-12 col-md-12 no-margin">
         <div class="form-group">
            <div class="field-label">Confirm New Password</div>
            <input type="password" class="form-control" (change)="onChange()" [ngClass]="{ 'error-code' : f.confirmPassword.touched && f.confirmPassword.errors && f.confirmPassword.errors.required}"
          formControlName="confirmPassword">
          <span class="alert" *ngIf="confirmPasswordSpan">Confirm password does not match new password.</span>
         </div>
        </div>
        </div>
       
        <button type="submit" class="btn-style-two width_full text-uppercase" [disabled]="!(changePasswordForm.valid && !confirmPasswordSpan && !newPasswordSpan)" [ngClass]="{'updateBtn-active' : changePasswordForm.valid && !confirmPasswordSpan && !newPasswordSpan }">Change Password</button>
        </form>
     </div>
    </div>
</div>
</div>
</section>



