<div *ngIf="preloadimg" class="preloadingimg">
    <img src="./assets/images/icons/preloader.gif">
</div>
<app-menu-header></app-menu-header>
<section class="inner-banner">
<div class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
<!--Header-Lower-->
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-sm-12 col-xs-12">
                    <h1>Seminars & Events</h1>
                </div>
            </div>
        </div>
    </div>
    </section>


<section class="investor_club_body seminars sec-padding">
  <div class="auto-container">
    <div class="in_club_hedding text-justify clearfix no-margin-bottom">
    <h2>Get Started Investing in Real Estate</h2>
    <p> Register Today for this exclusive event at our world headquarters in Beverly Hills and see if Investing in Real Estate is really for you. Attend a free Real Estate Investing orientation and learn how you can achieve success through Real Estate, working side by side with our national network of investors.</p>
    <p>You can join our national network of real estate investors, get trained at local events and workshops sponsored by leaders and community members so you can invest in real estate yourself or with others.</p>

    <div class="seminars-events">
    <p>Thursday, December 27, 2018 10:30 am-12:00 pm PST Pacific Holdings Group</p>

    <p>8484 Wilshire Boulevard #870 Beverly Hills, CA 90211</p>
    </div>
    </div> </div>
</section>
