<div *ngIf="preloadimg" class="preloadingimg">
    <img src="./assets/images/icons/preloader.gif">
</div>
<app-menu-header></app-menu-header>
<section class="inner-banner">
<div class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
<!--Header-Lower-->
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-sm-12 col-xs-12">
                    <h1>ORGANIZATION LOGIN</h1>
                </div>
            </div>
        </div>
    </div>
    </section>

<section>
<div class="auto-container">
    <div class="row login-form padd-top-70 padd-bott-40">
    <div class="col-sm-6 col-md-6">
        <div class="form-outer form-block">
        <div class="default-title"><h2>Registered Users</h2></div>
        <div class="form-group">
            <div class="field-label">Email</div>
            <input type="email" name="field-name" value="" placeholder="">
         </div>
        <button type="button" class="btn-style-two width_full text-uppercase">Sign In</button>
        <div class="form-group check-box">
            <input type="checkbox" name="" id="Remember"> 
            <label for="Remember">&ensp;Remember me</label>
        </div>
     </div>
    </div>

    <div class="col-sm-6 col-md-6">
        <div class="form-outer form-block">
        <div class="default-title">
            <h2>New Users</h2>
        </div>
        <p class="new-user">Create and manage saved searches and properties with the Property Organizer. </p>

        <div class="row">
        <div class="col-sm-12 col-md-6 no-margin">
        <div class="form-group">
            <div class="field-label">firstName</div>
            <input type="text" name="field-name" value="" placeholder="">
         </div>
        </div>

        <div class="col-sm-12 col-md-6 no-margin">
        <div class="form-group">
            <div class="field-label">Last Name</div>
            <input type="text" name="field-name" value="" placeholder="">
        </div>
        </div>
        </div>

         <div class="row">
         <div class="col-sm-12 col-md-6 no-margin">
         <div class="form-group">
            <div class="field-label">Email</div>
            <input type="email" name="field-name" value="" placeholder="">
         </div>
        </div>

         <div class="col-sm-12 col-md-6 no-margin">
         <div class="form-group">
            <div class="field-label">phone</div>
            <input type="text" name="field-name" value="" placeholder="">
         </div>
          </div>
         </div>
       
        <button type="button" class="btn-style-two width_full text-uppercase">Sign up</button>
     </div>
    </div>
</div>
</div>
</section>