<div *ngIf="preloadimg" class="preloadingimg">
    <img src="./assets/images/icons/preloader.gif">
</div>
<app-menu-header></app-menu-header>
<section class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <h1 class="text-uppercase">FEATURED PROPERTIES</h1>
                </div>
            </div>
        </div>
    </section>


        <section class="sec-padding">
        <div class="auto-container">
          <div class="clearfix">
            <div class="dropdown sort-filter pull-right">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Sort
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="#">Price (High to Low)</a></li>
              <li><a href="#">Price (Low to High)</a></li>
              <li><a href="#">Status</a></li>
              <li><a href="#">City</a></li>
              <li><a href="#">Listing Date</a></li>
              <li><a href="#">Type / Price Descending</a></li>
              <li><a href="#">Listing Number</a></li>
              <li><a href="#">Open Home Date Asc</a></li> 
            </ul>
          </div>
          </div>

          <div class="row">
            <div class="col-sm-6 col-md-4">
              <div class="properties-block">
              <a href="#"><img src="./assets/images/resource/properties01.jpg" alt="" class="img-responsive" width="100%"></a>
               <div class="properties-price text-center">$465,000 </div>
                <div class="address">8582 PINTER STREET ORLANDO, FL 32827</div>
                <div class="properties-option text-center clearfix">
                  <div class="option01"><span>3 <br> Beds</span></div>
                  <div class="option01"><span> 2 | 1 <br> Baths</span></div> 
                  <div class="option01"><span> 2,384 <br> SqFt</span></div>
                  <div class="option01"><span> <img src="./assets/images/resource/pic_camra.png" alt="" width="22px" /> <br> 15</span></div>
                </div>
                <p class="last-code text-center">#O5762455 | Single Family Home</p>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="properties-block">
              <a href="#"><img src="./assets/images/resource/properties02.jpg" alt="" class="img-responsive" width="100%"></a>
               <div class="properties-price text-center">$47,500</div>
                <div class="address"> 1147 Mercier Street Augusta, GA 30901</div>
                <div class="properties-option text-center clearfix">
                  <div class="option01"><span>4 <br> Beds</span></div>
                  <div class="option01"><span> 1 <br> Baths</span></div> 
                  <div class="option01"><span> 1,316 <br> SqFt</span></div>
                  <div class="option01"><span> <img src="./assets/images/resource/pic_camra.png" alt="" width="22px" /> <br> 9</span></div>
                </div>
                <p class="last-code text-center">#432440 | Single Family Home</p>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="properties-block">
              <a href="#"><img src="./assets/images/resource/properties03.jpg" alt="" class="img-responsive" width="100%"></a>
               <div class="properties-price text-center"> $3,995  (Rental)</div>
                <div class="address">Undisclosed BELLE ISLE, FL 32812 </div>
                <div class="properties-option text-center clearfix">
                  <div class="option01"><span>4 <br> Beds</span></div>
                  <div class="option01"><span> 3 <br> Baths</span></div> 
                  <div class="option01"><span> 2,484 <br> SqFt</span></div>
                  <div class="option01"><span> <img src="./assets/images/resource/pic_camra.png" alt="" width="22px" /> <br> 25</span></div>
                </div>
                <p class="last-code text-center">#O5756259 | Rental</p>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="properties-block">
              <a href="#"><img src="./assets/images/resource/properties04.jpg" alt="" class="img-responsive" width="100%"></a>
               <div class="properties-price text-center">  $3,500 (Rental)</div>
                <div class="address">Undisclosed WINDERMERE, FL 34786 </div>
                <div class="properties-option text-center clearfix">
                  <div class="option01"><span>5 <br> Beds</span></div>
                  <div class="option01"><span> 4 | 1 <br> Baths</span></div> 
                  <div class="option01"><span> 5,928 <br> SqFt</span></div>
                  <div class="option01"><span> <img src="./assets/images/resource/pic_camra.png" alt="" width="22px" /> <br> 27</span></div>
                </div>
                <p class="last-code text-center">#O5744692 | Rental</p>
              </div>
            </div>

            <div class="col-sm-6 col-md-4">
              <div class="properties-block">
              <a href="#"><img src="./assets/images/resource/properties05.jpg" alt="" class="img-responsive" width="100%"></a>
               <div class="properties-price text-center">  $1,550  (Rental)</div>
                <div class="address">Undisclosed KISSIMMEE, FL 34746 </div>
                <div class="properties-option text-center clearfix">
                  <div class="option01"><span>3 <br> Beds</span></div>
                  <div class="option01"><span> 2 <br> Baths</span></div> 
                  <div class="option01"><span> 1,687 <br> SqFt</span></div>
                  <div class="option01"><span> <img src="./assets/images/resource/pic_camra.png" alt="" width="22px" /> <br> 37</span></div>
                </div>
                <p class="last-code text-center">#O5759604 | Rental</p>
              </div>
            </div>


          </div>
                <div class="text-center">
                  <ul class="pagination">
                   <li><a href="#">&laquo;</a></li>
                   <li class="active"><a href="#">1</a></li>
                   <li class="disabled"><a href="#">2</a></li>
                   <li><a href="#">3</a></li>
                   <li><a href="#">4</a></li>
                   <li><a href="#">5</a></li>
                   <li><a href="#">&raquo;</a></li>
                </ul>
              </div>



            <div class="properties-text">
            <div class="first-heading">© 2019 My Florida Regional Multiple Listing Service, Inc. All rights reserved.</div>
            <p>The data relating to real estate displayed on this website comes in part from the Internet Data Exchange (IDX) Program of My Florida Regional Multiple Listing Service, Inc. All listing information is deemed reliable but not guaranteed and should be independently verified through personal inspection by appropriate professionals. Listings displayed on this website may be subject to prior sale or removal from sale; availability of any listing should always be independently verified. Listing information is provided for consumers' personal, non-commercial use, solely to identify potential properties for potential purchase; all other use is strictly prohibited and may violate relevant federal and state law.</p>
            <p>MFRMLS - My Florida data last updated at February 18, 2019 2:12 PM ET</p>
            <div class="first-heading">© 2019 Greater Augusta Association of REALTORS®, Inc. All rights reserved.</div>
            The data relating to real estate on this website comes in part from the Internet Data Exchange (IDX) Program of the Greater Augusta Association of REALTORS®. IDX information is provided exclusively for consumers' personal non-commercial use and may not be used for any purpose other than to identify prospective properties consumers may be interested in purchasing. All Information Is Deemed Reliable But Is Not Guaranteed Accurate.
            GAAR data last updated at February 18, 2019 11:58 PM ET
            </div>

        </div>
        </section>