<!-- *********** Loading ************** -->
<div *ngIf="preloadimg" class="preloadingimg">
  <img src="./assets/images/icons/preloader.gif">
</div>
<div *ngIf="apiLoading" class="loadingApi">
  <img src="./assets/images/icons/loading.gif">
</div>
<!-- *********** Loading ************** -->
<app-menu-header></app-menu-header>
<section class="inner-banner financed-top" data-toggle="modal" data-target="#myModal">
    <div class="page-title financed-title" [ngStyle]="{ 'background-image': 'url(' + imageUrlArray[0] + ')'}">
       <div class="arrow-block clearfix">
        <img src="./assets/images/thumb-slider/arrow-left.png" alt="" class="pull-left" />
        <img src="./assets/images/thumb-slider/arrow-right.png" alt="" class="pull-right" />               
    </div>
    <div class="auto-container">
        <div class="row clearfix">
            <div class="title-column col-sm-12 col-xs-12">
                <h1>{{propertyData.title}}</h1>
            </div>
        </div>
    </div>
</div>
</section>

<!--Pop Up Slider -->
<div class="modal" id="myModal">
    <div class="modal-dialog financed-dialog">
        <div class="modal-content" style="top:0px;">
            <button type="button" class="close slider-close " data-dismiss="modal">×</button>
            <div id="main" role="main">
                <div class="detail_main_slider slider">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <slideshow #slideshow
                        [minHeight]="'450px'"
                        [autoPlay]="false"
                        [showArrows]="true"
                        [imageUrls]="imageUrlArray"
                        [lazyLoad]="imageUrlArray?.length > 1"
                        [autoPlayWaitForLazyLoad]="true">
                    </slideshow>

                    <ul class="nav nav-pills nav-justified detail_controller slides">
                        <li *ngFor="let img of imageUrlArray; let i=index;">
                            <a (click)="changerImage(i)">
                                <img src="{{img | image: 'property-detail'}}" alt="" class="img-responsive" width="150px" height="150px">
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!-- End Carousel -->
        </div>
    </div>
</div>
</div>
<!--Pop Up Slider -->

<h3 *ngIf="planImages.length > 0">Floor Plan</h3>
<div class="detail_main_slider" *ngIf="planImages.length > 0">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

        <ul class="nav nav-pills nav-justified detail_controller">
            <li *ngFor="let img of planImages; let i=index;">
                <a (click)="changerImage(i)">
                    <img src="{{img | image: 'property-detail'}}"  (click)="openImage(i, 'plan')" alt="" class="img-responsive">
                </a>
            </li>
        </ul>

    </div>
</div>


<!--One Third Section-->
<section class="owner-financed sec-padding">
    <div class="auto-container">
        <div class="row">
            <div class="col-sm-9">
            	<div class="description">
                    <div class="sec-title">
                       <h2>Description</h2>
                   </div>
                   <div class="description-block">
                    <h5>
                        <a><i class="fa fa-map-marker" aria-hidden="true"></i>  {{propertyData.address}}</a>
                        <div class="pull-right star">
                          <span class="star-rating">
                            <star-rating [starType]="'svg'" [staticColor]="getColor(propertyData.rating)" [showHalfStars]="true" [disabled]="true" [rating]="propertyData.rating"></star-rating>
                        </span>
                    </div>
                </h5>



                <div class="description-type clearfix">
                    <div class="col-sm-4 descri-type-block">
                        <p>Property type:</p>
                        <a (click)="navigate('property-type', propertyData.property_type)">{{ propertyData.property_name}}</a>
                    </div>
                    <div class="col-sm-4 descri-type-block">
                        <p>Offer type:</p>
                        <a >{{ propertyData.offer_name}}</a> 
                    </div>
                    <div class="col-sm-4 descri-type-block">
                        <p>City:</p>
                        <a class="link" href="javascript:void(0);" (click)="navigate('city', propertyData.city)">{{propertyData.city}}</a>
                    </div>
                </div>
                <div class="description-type clearfix">
                    <div class="col-sm-4 descri-type-block">
                        <p>Bedrooms:</p>
                        <p class="sub-type">{{propertyData.bed_rooms}}</p>
                    </div>
                    <div class="col-sm-4 descri-type-block">
                        <p>Bathrooms:</p>
                        <p class="sub-type">{{propertyData.bath_rooms}}</p>
                    </div>
                    <div class="col-sm-4 descri-type-block">
                        <p>Property size:</p>
                        <p class="sub-type">{{propertyData.property_size}} ft²</p>
                    </div>
                </div>
                <div class="description-type clearfix">
                    <div class="col-sm-4 descri-type-block">
                        <p>Year:</p>
                        <p class="sub-type">{{propertyData.year}}</p>
                    </div>
                    <div class="col-sm-4 descri-type-block">
                        <p>Asking Price:</p>
                        <p class="sub-type"><span *ngIf="propertyData.price != '-1'">{{propertyData.price | currency}}</span>
                            <span *ngIf="propertyData.price == '-1'">See Valuation Report</span></p>
                        </div>
                        <div class="col-sm-4 descri-type-block">
                            <p>Date:</p>
                            <p class="sub-type">{{propertyData.created_date | date : 'medium'}}</p> 
                        </div>
                    </div>

                    <div  class="description-type clearfix" >


                        <div *ngIf="propertyData.features != '-1'">
                            <div class="col-sm-12"><p>Amenities:</p></div>

                            <div class="col-sm-6 col-md-3 descri-type-block text-center" *ngFor="let f of features">
                                <div class="icon-block"><img src="{{f.selected_icon}}" alt=""></div>
                                <p>{{f.text}}</p>
                            </div>
                        </div>

                        <div class="col-sm-12 infoColumn" *ngIf="propertyData.features == '-1'">
                            <strong>Amenities:</strong>
                            <div>See Valuation Report</div>
                        </div>
                    </div>

                    <div class="description-type question clearfix">
                        <div class="col-xs-12">
                            <p>How much do you think the home is worth : <strong>  <span *ngIf="propertyData.worth != '-1'">{{propertyData.worth | currency}}</span>
                                <span *ngIf="propertyData.worth == '-1'">See Valuation Report</span></strong></p>
                            </div>
                        </div>
                        <div class="description-type question clearfix">
                            <div class="col-xs-12">
                                <p>Is the home vacant, rented or lived in : <strong>{{propertyData.live}}</strong></p>
                            </div>
                        </div>
                        <div class="description-type question clearfix">
                            <div class="col-xs-12">
                                <p>Why are you selling : <strong>{{propertyData.selling}}</strong> </p>
                            </div>
                        </div>

                        <div class="description-type centered">
                         <a (click)="onValuation()" class="theme-btn btn-style-two center-block">Property Valution Report</a>
                     </div>

                     <div class="centered" style="padding-top:20px;">
                         <p>Location pre-approved</p>
                         <a class="theme-btn btn-style-two center-block">Obtain Funding</a>
                     </div>
                 </div>

                 <div class="description-block option-block clearfix">
                     <div class="col-sm-3 text-center">
                        <a href="https://www.calculator.net/rental-property-calculator.html" target="_blank" class="in-option">
                            <div class="" id="diamond">
                                <span><img src="./assets/images/icons/calculator.png" width="40px" /></span>
                            </div>
                            <p>Cash Flow Calculator</p>
                        </a>
                    </div>
                    <div class="col-sm-3 text-center">
                        <a  class="in-option" (click)="open(content, '*')">
                            <div class="" id="diamond">
                                <span><img src="./assets/images/icons/person-walking.png" width="40px" /></span>
                            </div>
                            <p>Walkscore</p>
                        </a>
                    </div>
                    <div class="col-sm-3 text-center">
                        <a (click)="open(content, 'school')" class="in-option">
                            <div class="" id="diamond">
                                <span><img src="./assets/images/icons/school.png" width="40px" /></span>
                            </div>
                            <p>School</p>
                        </a>
                    </div>
                    
                    <div class="col-sm-3 text-center">
                        <a [routerLink]="['/compare-property/'+propertyId]"  class="in-option">
                            <div class="" id="diamond">
                                <span><img src="./assets/images/icons/statistics.png" width="40px" /></span>
                            </div>
                            <p>Compare</p>
                        </a>
                    </div>
                </div>


                <div class="description-block">
                    <h5>
                        <a ><i class="fa fa-file-text" aria-hidden="true"></i> Details</a>
                    </h5>
                    <div class="description-type clearfix">
                        <div class="col-sm-12">
                            <p>{{propertyData.description}}</p>
                        </div>
                    </div>
                </div>


            </div>
        </div>
        <div class="col-sm-3">
            <aside class="sidebar inner-sidebar">
                <div class="sidebar-widget tabbed-links">
                    <ul class="tabbed-nav">
                        <li>

                         <div class="inactive-favorites_hading mb_10" *ngIf="propertyData.favourite == '0'" (click)="addToFavorites('1')">
                            <a href="javascript:void(0);" class="black">
                                <i class="fa fa-heart-o" aria-hidden="true"></i> Add to favorites
                            </a>
                        </div>
                        <div class="favorites_hading mb_10" *ngIf="propertyData.favourite == '1'" (click)="addToFavorites('2')">
                            <a href="javascript:void(0);" class="black">
                                <i class="fa fa-heart" aria-hidden="true"></i> Favorite
                            </a>
                        </div>
                        
                    </li>
                    <li><a >
                        <i class="fa fa-eye" aria-hidden="true"></i> 0</a></li>
                    </ul>
                    <ul class="files">
                        <li><a *ngIf="propertyData.price == '-1'">See Valuation Report</a>
                            <a *ngIf="propertyData.price != '-1'">{{propertyData.price | currency}}</a></li>
                        </ul>
                    </div>

                    <div class="sidebar-widget tabbed-links">
                        <ul class="tabbed-nav">
                            <li>
                                <a>
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i> {{propertyData.user_phone_no}} </a></li>
                                    <li><a [routerLink]="['/map']" [queryParams]="{lat: propertyData.latitude, lng : propertyData.longitude, title : propertyData.title}">
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        See Map</a></li>
                                    </ul>
                                </div>


                                <!-- Tabbed Links -->
                                <div class="sidebar-widget">
                                <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                                    <div class="sidebar-title"><h3>Make an offer</h3></div>
                                    <div class="offer-form">
                                        <p class="text-right">

                                            <a  data-toggle="modal" data-target="#myBtn">Our Legal Notice</a></p>
                                            <div class="form-group">
                                                <input type="text" name="field-name" value="" placeholder="Your Name">
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="field-name" value="" placeholder="Mail"  formControlName="email" >
                                            </div>
                                            <div class="form-group">
                                                <input type="text" name="field-name" value="" placeholder="Phone" formControlName="phone">
                                            </div> 
                                            <div class="form-group">
                                                <input  currencyMask type="text" name="field-name" placeholder="Offer Amount">
                                            </div>
                                            <div class="form-group">
                                               <textarea rows="4" formControlName="message" placeholder="Message"></textarea>
                                           </div>
                                       </div>
                                       <ul class="files">
                                        <li> <button [disabled]="!contactForm.valid" type="submit" class="btn-style-two width_full text-uppercase margin-top-30">SEND</button></li>
                                    </ul>
                                    </form>
                                </div>

                                <div class="sidebar-widget">
                                    <div class="sidebar-title"><h3>Profile</h3></div>
                                    <ul class="tabbed-nav">
                                        <li><a>
                                            <i class="fa fa-volume-control-phone" aria-hidden="true"></i> 
                                            + 1-855-737-4338 </a></li>
                                            <li><a href="mailto:info@investfar.com">
                                                <i class="fa fa-envelope" aria-hidden="true"></i> info@investfar.com</a></li>
                                            </ul>
                                            <ul *ngIf="propertyData.user_name != ''" [routerLink]="['/properties-user/'+propertyData.user_id+'/'+propertyData.user_name]"  class="files">
                                                <li><a  class="text-center">All by {{propertyData.user_name}}</a></li>
                                            </ul>  

                                            <ul *ngIf="propertyData.user_name == ''" [routerLink]="['/properties-user/'+propertyData.user_id+'/'+propertyData.user_email]"   class="files">
                                                <li><a  class="text-center">All by {{propertyData.user_email}}</a></li>
                                            </ul>
                                        </div>
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </section>

                    <!-- Legal Notice -->
                    <div class="modal notice" id="myBtn">
                      <div class="modal-dialog">
                        <div class="modal-content">
                          <!-- Modal Header -->
                          <div class="modal-header">
                            <h4 class="modal-title">Legal Notice</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <p>Once you have filled out the request form, click on Send.</p> 

                            <p>Your contact details and offer will be sent to the seller for consideration.</p>

                            <p>If offer is accepted an e-mail will be sent to you detailing next steps with all the information that you need to purchase the property or to negotiate with the seller.</p>

                            <p>InvestFar, Inc will keep the information provided for statistical purposes.</p>

                            <p>InvestFar, Inc may use your information to provide a more curated experience based on your submissions. Notably, we do not give your email address to third parties other than the sellers concerned.</p>

                            <p>You benefit from a right to access, to modify, to rectify and to delete your personal data (Law of January 6th 1978) relative to IT services, to files and to liberties.</p>

                            <p>InvestFar, Inc would like to remind you that the use of the form by unsolicited direct marketing professionals (spammers) is prohibited. In compliance with legal obligations, InvestFar, Inc records your internet address and reserves the right to follow up on fraudulent use.</p>

                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Legal Notice -->

            <!--==================Detail Page=======================-->

            <ng-template #compare let-modal class="compare-property-wrap">
                <div class="modal-header">
                  <h4 class="modal-title" id="modal-basic-title">Near By Places</h4>
                  <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
        </ng-template>  

        <ng-template #content let-modal>
            <div class="modal-header">
              <h4 class="modal-title" id="modal-basic-title">Near By 
                  <span *ngIf="googleSearchType == '*'">Places</span>
                  <span *ngIf="googleSearchType == 'school'">School</span>
              </h4>
              <button type="button" class="close" aria-label="Close" (click)="modelRef.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
          <ul class="property-listing">
            <li *ngFor="let g of googleResponses">
                <div class="service-listing">
                    <div class="services-provider-icon">
                        <img src="{{g.icon}}" alt="img" title="img">
                    </div>
                    <div class="services-provider-shortdetail">
                        <div class="detail">
                            <div class="left mr-auto">
                             
                              <h3>{{g.name}}</h3>
                              <span class="location-area">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                {{g.vicinity}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</ng-template>  
<div id="map"></div>
