<div *ngIf="preloadimg" class="preloadingimg">
    <img src="./assets/images/icons/preloader.gif">
</div>
<app-menu-header></app-menu-header>
<section class="inner-banner">
<div class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
<!--Header-Lower-->
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-sm-12 col-xs-12">
                    <h1>Home Improvement</h1>
                </div>
            </div>
        </div>
    </div>
    </section>


<section class="investor_club_body sec-padding">
  <div class="auto-container">
    <div class="in_club_hedding text-center">
    <h6>INVESTFAR HOME IMPROVEMENT NETWORK</h6>
    <h2>Match projects with a professional contractor</h2>
    <p>We’ve teamed up with Contractor Connection® to offer our Investors Club members free access to a pre-screened network of professional contractors. Whether your project is a significant home repair or your dream remodel, let us help you take the guesswork out of finding a professional contractor.</p>

    <div class="link-box padd-top-20">
<a href="https://www.contractorconnection.com/Home/Consumer/Partner/Why-Us?Referral=Investfar" class="theme-btn btn-style-one" target="_blank">GET STARTED<span class="fa fa-long-arrow-right"></span></a></div>
    </div> 

  <div class="find_pro_icon">
  <div class="row">

    <div class="col-md-4 col-sm-4">
    <div class="find_icon_block text-center">
    <div class="icon_box"><i class="fa fa-users" aria-hidden="true"></i></div>
    <h3>Pre-screened contractors</h3>
    <p>Get referred to a network of contractors who have been thoroughly vetted.</p>
    </div>       
    </div>

    <div class="col-md-4 col-sm-4">
    <div class="find_icon_block text-center">
    <div class="icon_box"><i class="fa fa-usd" aria-hidden="true"></i></div>
    <h3>Fair and reasonable estimates</h3>
    <p>Contractor Connection’s Quality Assurance team reviews all proposals.</p>
    </div>       
    </div>

    <div class="col-md-4 col-sm-4">
    <div class="find_icon_block text-center">
    <div class="icon_box"><i class="fa fa-puzzle-piece" aria-hidden="true"></i></div>
    <h3>Issue Resolution Assistance</h3>
    <p>If an issue happens, Contractor Connection can help find a resolution with your contractor.</p>
    </div>       
    </div>
  </div>
  </div></div>
</section>

<section>
<div class="trusted_projects">
<div class="tru_blcok_one">
<div class="tru_content">
    <div class="sec-title"><h2>Contrary to popular belief</h2></div>

    <p>Remodeling a property remotely to completion can be done safe and easy, with professionally vetted contractors. </p>

    <ul class="tru_link">
        <li>General contractor services</li>
        <li>Roofing installation and repair</li>
        <li>Remodeling services</li>
        <li>Flooring and carpet installation</li>
        <li>Special needs modification</li>
        <li>Gutters and siding</li>
        <li>Carpet and upholstery cleaning</li>
    </ul>

    <p>Referral services may not be available in all areas; see what services are offered near you.</p>
    <div class="link-box padd-top-20">
    <a href="#" class="theme-btn btn-style-one" target="_blank">GET STARTED<span class="fa fa-long-arrow-right"></span></a></div>
</div>
</div>
 <div class="tru_blcok_two">
 <img src="./assets/images/resource/trusted_img.jpg" alt="" class="img-responsive responv_img" width="100%">
 </div>
</div>
</section>

<section>
<div class="trusted_projects">
 <div class="repair_emergency_two"></div>

 <div class="tru_blcok_one repair_emergency">
<div class="tru_content">
    <div class="sec-title"><h2>In need of an urgent repair?</h2></div>
    <p>Pipe burst, broken door, and roof tarping services are available 24 hours a day, seven days a week in select areas.</p>

    <p>The InvestFar Home Improvement Network isn’t an insurance claims program. For more information on homeowners insurance claims, visit our <a href="#">Claims Resource Center.</a></p>

    <div class="link-box padd-top-20">
    <a href="#" class="theme-btn btn-style-one" target="_blank">ONLINE REQUEST<span class="fa fa-long-arrow-right"></span></a>
    <a href="#" class="theme-btn btn-style-one" target="_blank">
    <i class="fa fa-phone" aria-hidden="true"></i>Call 1-866-855-1191 <span class="fa fa-long-arrow-right">
    </span></a>
    </div>
</div>
</div>

 <div class="repair_emergency_two mobile_res"><img src="./assets/images/resource/repair_home_img.jpg" alt="" class="img-responsive responv_img" width="100%"></div>
</div>
</section>

<section class="frequently_questions">
<div class="container">
<div class="sec-title"><h2>FAQs</h2></div>

<div class="row">
<div class="col-md-9">
 <ul class="accordion-box">
    <!--Block-->
    <li class="accordion block">
    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div> What is the InvestFar Home Improvement Network?</div>
    <div class="acc-content current" style="display: none;">
    <div class="content">
        <p>InvestFar Home Improvement Network is a benefit designed to help direct Investor Club members to pre-screened contractors for home improvements. Network contractors have undergone an extensive and thorough background check for licensing, insurance, and financial stability. When requesting a network contractor referral, the member will be assigned one contractor who has satisfied the pre-screening credentialing process and is willing to back their work with a three-year workmanship warranty.</p>
    </div>
    </div>
    </li>

    <li class="accordion block">
    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div> Who manages the contractors that are part of the Home Improvement Network?</div>
    <div class="acc-content current" style="display: none;">
    <div class="content">
        <p>Crawford Contractor Connection® manages this network of over 4,500 independent contractors.</p>
    </div>
    </div>
    </li>

    <li class="accordion block">
    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div>How long does it take for a network contractor to contact a member for general service requests?</div>
    <div class="acc-content current" style="display: none;">
    <div class="content">
        <p>A network contractor referral request for a home improvement project is a non-emergency request. Under most conditions, the member will be in contact with a contractor within 48 hours.</p>
    </div>
    </div>
    </li>

    <li class="accordion block">
    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div> How long does it take for a network contractor to contact the member for urgent requests?</div>
    <div class="acc-content current" style="display: none;">
    <div class="content">
        <p>A call for assistance with home emergency services is a priority call and, under most conditions, the member will be contacted by a service provider within one hour.</p>
    </div>
    </div>
    </li>

    <li class="accordion block">
    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div> How does the Home Improvement Network help you get a fair and reasonable estimate?</div>
    <div class="acc-content current" style="display: none;">
    <div class="content">
        <p>Network contractors are required to use the same estimating system that is commonly used in insurance restoration work and Contractor Connection's Quality Assurance team reviews all proposals, based on industry standards, to help contractors provide you with a fair and reasonable estimate. You are then able to agree or further discuss your project estimate direct with the contractor. </p>
    </div>
    </div>
    </li>

    <li class="accordion block">
    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div> What is the benefit of selecting a network contractor to the Investor Club members?</div>
    <div class="acc-content current" style="display: none;">
    <div class="content">
        <p>Contractor Connection has completed the extensive, time consuming, and critical contractor screening process for the member. Network contractors must possess required state licensing, meet established program insurance coverage, maintain professional facilities and equipment, and perform background checks on their employees who will be on the property site. Participating network contractors may use subcontractors in some instances when handling general contracting assignments. Please note that neither Contractor Connection nor InvestFar, incscreens or performs background checks on subcontractors.</p>
    </div>
    </div>
    </li>

    <li class="accordion block">
    <div class="acc-btn"><div class="icon-outer"><span class="icon icon-plus fa fa-plus"></span> <span class="icon icon-minus fa fa-minus"></span></div> How does InvestFar know that network contractors are performing to program standards?</div>
    <div class="acc-content current" style="display: none;">
    <div class="content">
        <p>Network contractors are managed for work quality and timeliness by Contractor Connection and, after an InvestFar Home Improvement Network referral project is completed, every member is provided a customer satisfaction survey to provide feedback on their experience with the contractor and quality of the contractor workmanship.</p>
    </div>
    </div>
    </li>
 </ul>
</div>


<div class="col-md-3">
<div class="got_more">
   <div class="home_got_icon"><i class="fa fa-home" aria-hidden="true"></i></div> 
   <h5>Invest remotely safely, easily and with protection</h5>
</div>
</div>

</div>
</div>
</section>

<section>
<div class="investros_dis">
<div class="container">
    <ol class="privacy-list">
        <li>Access to a network of pre-screened licensed contractors selected specifically for your home improvement or urgent home repair needs.</li>
        <li> Contractor Connection’s Quality Assurance team reviews all proposals to help contractors provide a fair and reasonable estimate for the services requested.</li>
        <li> Should an issue arise, Contractor Connection will help mediate communication between you and your contractor. When needed, InvestFar will assist you with the process of issue resolution.</li>
        <li> The Home Improvement Network provides referrals to a network of independent contractors managed by Contractor Connection. Network contractors may use subcontractors when handling certain assignments. Neither Contractor Connection nor InvestFar, incscreens or performs background checks on subcontractors. InvestFar, inc and our respective affiliates, subsidiaries, and related companies are not responsible for the acts or omissions of network contractors, subcontractors or Contractor Connection. Three-Year Workmanship Warranty provided by the network contractor. Home Improvement services only offered where InvestFar, incdoes business and may not be available in all areas.</li>
    </ol>
</div></div></section>
