.my-properties table{
     border: solid 1px #dedede;
}
.my-properties tbody tr:nth-of-type(2n+1){
    background: #f2f2f2;
    border-top: solid 1px #dedede;
    border-bottom: solid 1px #dedede;
}
.my-properties tr th{
    background: #1c75bc;
    color: #fff;
    padding: 10px 25px;
}
.my-properties tr td{
     padding: 10px 25px; 
}
.my-properties tr{
     padding: 10px 25px; 
}
.my-properties .table-icon {
    font-size: 14px;
    background: #1c75bc;
    border-radius: 50px;
    width: 30px;
    height: 30px;
    display: block;
    color: #fff;
    text-align: center;
    padding: 3px 0px;
}
.my-properties .table-icon.edit{
      padding: 4px 9px;
}

