<!-- *********** Loading ************** -->
    <div *ngIf="preloadimg" class="preloadingimg">
        <img src="./assets/images/icons/preloader.gif">
    </div>
    <div *ngIf="apiLoading" class="loadingApi">
        <img src="./assets/images/icons/loading.gif">
    </div>
    <!-- *********** Loading ************** -->
    <app-menu-header></app-menu-header>
    <section class="inner-banner">
    <div class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
    <!--Header-Lower-->
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-sm-12 col-xs-12">
                    <h1>Forgot Password</h1>
                </div>
            </div>
        </div>
    </div>
    </section>
    <section>
    <div class="auto-container">
    <div class="row login-form agent padd-top-70 padd-bott-60">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <div class="form-outer form-block">
        <div class="default-title"><h2>Forgot Password</h2></div>
        <div class="form-group">
            <div class="field-label">Email</div>
            <input type="text" [(ngModel)]="email" name="field-name" value="" placeholder="">
         </div>
        <button type="button" (click)="forgotPassword()" class="btn-style-two width_full text-uppercase">Forgot Password</button>
     </div>
    </div>
    </div>
    </div>
    </section>