<!-- *********** Loading ************** -->
<div *ngIf="preloadimg" class="preloadingimg">
  <img src="./assets/images/icons/preloader.gif">
</div>
<div *ngIf="apiLoading" class="loadingApi">
  <img src="./assets/images/icons/loading.gif">
</div>
<!-- *********** Loading ************** -->
<app-menu-header></app-menu-header>

<section class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
  <div class="auto-container">
    <div class="row clearfix">
      <!--Title -->
      <div class="title-column col-md-6 col-sm-12 col-xs-12">
        <h1 class="text-uppercase">Manage Services</h1>
      </div>
    </div>
  </div>
</section>

<section class="sec-padding">
  <div class="auto-container">
    <div class="panel panel-primary" id="services-tab">
      <div class="panel-heading">
        <ul class="nav nav-tabs panel-tabs">
          <li [ngClass]="{'active' : activeTab == 0}">
            <a class="nav-link" (click)="changeActiveTab('0')" >New</a>
          </li>
          <li [ngClass]="{'active' : activeTab == 1}">
            <a class="nav-link" (click)="changeActiveTab('1')" >Scheduled</a>
          </li>
          <li [ngClass]="{'active' : activeTab == 2}">
            <a class="nav-link" (click)="changeActiveTab('2')" >Completed</a>
          </li>
        </ul>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <ul class="services-listing-wrap">
            <h3 class="no-data-avilable" *ngIf="services.length == 0">No data</h3>
            <li *ngFor="let s of services">
              <div class="service-listing">
                <div class="tab-full-block clearfix">
                  <div class="row rent-row">
                    <div class="col-sm-3 col-md-2 margin-bott-10 col">
                      <a (click)="openDetails(s)" >
                        <img src="{{s.image ||'./assets/images/resource/pro-tab-dummy.jpg' }}" alt="img" title="img" class="img-responsive img-thumbnail" />
                      </a>
                    </div>
                    <div class="col-sm-9 col-md-6 col">
                     <div class="tab-in">
                      <h3>{{s.customerName}}</h3>
                      <p class="no-margin">{{s.subCatName}}</p>
                      <address>
                        <i class="fa fa-map-marker" aria-hidden="true"></i>  {{s.address}}</address>
                        <div class="date-icon">
                          <i class="fa fa-calendar pull-left bdr" aria-hidden="true"></i>
                          <p class="text-primary" *ngIf="s.status == 2 && s.is_paid == 0">Pending Payment</p>

                          <p class="text-primary" *ngIf="s.status == 2 && s.is_paid != 0">Completed</p>

                          <p class="text-primary" *ngIf="s.status == 3 || s.status == 5">Cancelled</p> 

                          <p *ngIf='s.bookedTime' class="text-primary">{{getTimestring(s.bookedTime) | date:'medium'}}</p>

                        </div>
                      </div>
                    </div>

                    <div class="col-sm-12 col-md-4 col" *ngIf="activeTab == 0">
                      <div class="tab-in-right">
                       <a (click)="manageBooking(s.bookedId, '3')"  class="theme-btn btn-style-one"> <i class="fa fa-times"></i> Decline </a>
                       <a (click)="manageBooking(s.bookedId, '1')" class="theme-btn btn-style-one" > <i class="fa fa-check"></i> Accept</a>
                     </div>
                   </div>

                   <div class="col-sm-12 col-md-4 col" *ngIf="activeTab == 1">
                    <div class="tab-in-right">
                     <a (click)="manageBooking(s.bookedId, '2')" class="theme-btn btn-style-one"> <i class="fa fa-check"></i>  Make Complete</a>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </li>
       </ul>

     </div>
   </div>
 </div>
</div>
</section>