<div *ngIf="preloadimg" class="preloadingimg">
    <img src="./assets/images/icons/preloader.gif">
</div>
<app-menu-header></app-menu-header>

<section class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <h1 class="text-uppercase">Manage Services</h1>
                </div>
            </div>
        </div>
    </section>


        <section class="sec-padding">
        <div class="auto-container">
            <div class="panel panel-primary" id="services-tab">
                <div class="panel-heading">
                <ul class="nav panel-tabs">
                        <li class="active"><a href="#tab1" data-toggle="tab">New</a></li>
                        <li><a href="#tab2" data-toggle="tab">Scheduled</a></li>
                        <li><a href="#tab3" data-toggle="tab">Completed</a></li>
                </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab1">
                            <div class="tab-full-block clearfix">
                            <div class="row rent-row">
                                    <div class="col-sm-3 col-md-2 margin-bott-10 col">
                                    <a >
                                    <img src="./assets/images/resource/pro-tab-dummy.jpg" alt="" class="img-responsive img-thumbnail" />
                                    </a>
                                    </div>
                                <div class="col-sm-9 col-md-6 col">
                                    <div class="tab-in">
                                        <h3>Joseph Linksman</h3>
                                        <p class="no-margin">Fundraising</p>
                                        <address>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA, USA</address>
                                        <div class="date-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col">
                                    <div class="tab-in-right">
                                     <a  class="theme-btn btn-style-one" target="_blank"> <i class="fa fa-times"></i> Decline </a>
                                     <a  class="theme-btn btn-style-one" target="_blank"> <i class="fa fa-check"></i> Accept</a>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="tab-full-block clearfix">
                            <div class="row rent-row">
                                    <div class="col-sm-3 col-md-2 margin-bott-10 col">
                                    <a >
                                    <img src="./assets/images/resource/pro-tab-dummy.jpg" alt="" class="img-responsive img-thumbnail" />
                                    </a>
                                    </div>
                                <div class="col-sm-9 col-md-6 col">
                                    <div class="tab-in">
                                        <h3>Joseph Linksman</h3>
                                        <p class="no-margin">Fundraising</p>
                                        <address>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA, USA</address>
                                        <div class="date-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col">
                                    <div class="tab-in-right">
                                     <a  class="theme-btn btn-style-one" target="_blank"> <i class="fa fa-times"></i> Decline </a>
                                     <a  class="theme-btn btn-style-one" target="_blank"> <i class="fa fa-check"></i> Accept</a>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="tab-full-block clearfix">
                            <div class="row rent-row">
                                    <div class="col-sm-3 col-md-2 margin-bott-10 col">
                                    <a >
                                    <img src="./assets/images/resource/pro-tab-dummy.jpg" alt="" class="img-responsive img-thumbnail" />
                                    </a>
                                    </div>
                                <div class="col-sm-9 col-md-6 col">
                                    <div class="tab-in">
                                        <h3>Joseph Linksman</h3>
                                        <p class="no-margin">Fundraising</p>
                                        <address>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA, USA</address>
                                        <div class="date-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col">
                                    <div class="tab-in-right">
                                     <a  class="theme-btn btn-style-one" target="_blank"> <i class="fa fa-times"></i> Decline </a>
                                     <a  class="theme-btn btn-style-one" target="_blank"> <i class="fa fa-check"></i> Accept</a>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="tab-full-block clearfix no-bdr">
                            <div class="row rent-row">
                                    <div class="col-sm-3 col-md-2 margin-bott-10 col">
                                    <a >
                                    <img src="./assets/images/resource/pro-tab-dummy.jpg" alt="" class="img-responsive img-thumbnail" />
                                    </a>
                                    </div>
                                <div class="col-sm-9 col-md-6 col">
                                    <div class="tab-in">
                                        <h3>Joseph Linksman</h3>
                                        <p class="no-margin">Fundraising</p>
                                        <address>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i> Los Angeles, CA, USA</address>
                                        <div class="date-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col">
                                    <div class="tab-in-right">
                                     <a  class="theme-btn btn-style-one" target="_blank"> <i class="fa fa-times"></i> Decline </a>
                                     <a  class="theme-btn btn-style-one" target="_blank"> <i class="fa fa-check"></i> Accept</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>

                        <div class="tab-pane" id="tab2">
                            <div class="tab-full-block clearfix">
                            <div class="row rent-row">
                                    <div class="col-sm-3 col-md-2 margin-bott-10 col">
                                    <a >
                                    <img src="./assets/images/resource/pro-tab-dummy.jpg" alt="" class="img-responsive img-thumbnail" />
                                    </a>
                                    </div>
                                <div class="col-sm-9 col-md-6 col">
                                    <div class="tab-in">
                                        <h3>Joseph Linksman</h3>
                                        <p class="no-margin">Floor Cleaning</p>
                                        <address>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>  United States</address>
                                        <div class="date-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col">
                                    <div class="tab-in-right">
                                     <a  class="theme-btn btn-style-one" target="_blank"> <i class="fa fa-check"></i>  Make Complete</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                     <div class="tab-full-block clearfix">
                            <div class="row rent-row">
                                    <div class="col-sm-3 col-md-2 margin-bott-10 col">
                                    <a >
                                    <img src="./assets/images/resource/pro-tab-dummy.jpg" alt="" class="img-responsive img-thumbnail" />
                                    </a>
                                    </div>
                                <div class="col-sm-9 col-md-6 col">
                                    <div class="tab-in">
                                        <h3>Joseph Linksman</h3>
                                        <p class="no-margin">Floor Cleaning</p>
                                        <address>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>  United States</address>
                                        <div class="date-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col">
                                    <div class="tab-in-right">
                                     <a  class="theme-btn btn-style-one" target="_blank"> <i class="fa fa-check"></i>  Make Complete</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                     <div class="tab-full-block clearfix no-bdr">
                            <div class="row rent-row">
                                    <div class="col-sm-3 col-md-2 margin-bott-10 col">
                                    <a >
                                    <img src="./assets/images/resource/pro-tab-dummy.jpg" alt="" class="img-responsive img-thumbnail" />
                                    </a>
                                    </div>
                                <div class="col-sm-9 col-md-6 col">
                                    <div class="tab-in">
                                        <h3>Joseph Linksman</h3>
                                        <p class="no-margin">Floor Cleaning</p>
                                        <address>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>  United States</address>
                                        <div class="date-icon"><i class="fa fa-calendar" aria-hidden="true"></i></div>
                                    </div>
                                </div>
                                <div class="col-sm-12 col-md-4 col">
                                    <div class="tab-in-right">
                                     <a  class="theme-btn btn-style-one" target="_blank"> <i class="fa fa-check"></i>  Make Complete</a>
                                    </div>
                                </div>
                        </div>
                    </div>
                     </div>
                        <div class="tab-pane" id="tab3">
                             <div class="tab-full-block clearfix">
                             <div class="row rent-row">
                                    <div class="col-sm-3 col-md-2 margin-bott-10 col">
                                    <a >
                                    <img src="./assets/images/resource/pro-tab-dummy.jpg" alt="" class="img-responsive img-thumbnail" />
                                    </a>
                                    </div>
                                <div class="col-sm-9 col-md-6 col">
                                     <div class="tab-in">
                                        <h3>Joseph Linksman</h3>
                                        <p class="no-margin">Floor Cleaning</p>
                                        <address>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>  United States</address>
                                        <div class="date-icon">
                                        <i class="fa fa-calendar pull-left bdr" aria-hidden="true"></i>
                                        <p class="text-primary">Pending Payment</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="tab-full-block clearfix">
                             <div class="row rent-row">
                                    <div class="col-sm-3 col-md-2 margin-bott-10 col">
                                    <a >
                                    <img src="./assets/images/resource/pro-tab-dummy.jpg" alt="" class="img-responsive img-thumbnail" />
                                    </a>
                                    </div>
                                <div class="col-sm-9 col-md-6 col">
                                     <div class="tab-in">
                                        <h3>Joseph Linksman</h3>
                                        <p class="no-margin">Floor Cleaning</p>
                                        <address>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>  United States</address>
                                        <div class="date-icon">
                                        <i class="fa fa-calendar pull-left bdr" aria-hidden="true"></i>
                                        <p class="text-danger">Cancelled</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     <div class="tab-full-block clearfix no-bdr">
                             <div class="row rent-row">
                                    <div class="col-sm-3 col-md-2 margin-bott-10 col">
                                    <a >
                                    <img src="./assets/images/resource/pro-tab-dummy.jpg" alt="" class="img-responsive img-thumbnail" />
                                    </a>
                                    </div>
                                <div class="col-sm-9 col-md-6 col">
                                     <div class="tab-in">
                                        <h3>Joseph Linksman</h3>
                                        <p class="no-margin">Floor Cleaning</p>
                                        <address>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>  United States</address>
                                        <div class="date-icon">
                                        <i class="fa fa-calendar pull-left bdr" aria-hidden="true"></i>
                                        <p class="text-danger">Cancelled</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        </div>
                    </div>
                </div>
        </div>
        </div>
        </section>