<div *ngIf="preloadimg" class="preloadingimg">
    <img src="./assets/images/icons/preloader.gif">
</div>
<app-menu-header></app-menu-header>
<section class="page-title" style="background-image:url(./assets/images/background/page-title-1.jpg);">
        <div class="auto-container">
            <div class="row clearfix">
                <!--Title -->
                <div class="title-column col-md-6 col-sm-12 col-xs-12">
                    <h1>LOCAL INVESTOR CONSULTANT</h1>
                </div>
            </div>
        </div>
    </section>


        <section class="sec-padding">
        <div class="auto-container">
            <div class="row clearfix">
                <div class="col-sm-4">
                     <figure class="bigger-image">
                    <img src="./assets/images/resource/consultant.jpg" alt="" class="img-thumbnail"></figure>
                </div>

                <div class="content-side col-sm-8">
                    <div class="content-section services-content">
                        <div class="text-block text-justify">
                            <p>Everyone is starting to realize now is the greatest time in history to invest in Real Estate, but many don’t know where to start and some are in fear of branching to other markets which are unfamiliar. We’ve just made this easy for you. On InvestFar we have vetted and certified Real Estate investors in multiple cities and states across the nation with years of experience. Our local investor consultants are currently active in real estate and are doing deals in the areas in which they are consulting.</p>
                            <p>If you’re looking to invest locally or outside of your area and need boots on the ground to farm out an area, we’ll schedule an appointment with a local investor consultant in the state and city you are looking to invest in and schedule a time to connect. Once you’ve been connected with a local investor consultant, build that relationship and add them to your team of contractors, private lenders, and other companies you’ve connected with on InvestFar.
                            <br>We’re here to make sure you don’t go at it alone.
                            <br>To speak with an investor consultant, download our app now.
                            <br>Looking to be an Investor Consultant for InvestFar, please register below.
                            <!-- <a href="real-estate-agent-registration.html">click here.</a></p> -->
                            <div class="link-box"><a [routerLink]="['/real-estate-agent-registration']" class="theme-btn btn-style-one text-uppercase"> Agent Registration <span class="fa fa-long-arrow-right"></span></a></div>
                        </div>
                        
                        <!--Two Column-->
                        <!--End Two Column-->
                    </div>
                </div>
            </div>
        </div>
        </section>
