.main-slider .content-box{
	position: relative;
	max-width: 678px;
	padding: 25px 25px 25px 0;
	padding-left: 0px;
	color: #fff;
	left: 207px;
	top: 0;
	padding-left: 0px;
}
.slider_heading{
position: absolute;
top: 200px;
width: 100%;
}
.listting-inner {
    min-height: 132px;
}
.listing-img img {
    height: 195px;
}


.no_data_found h3{
    text-align: center;
    color: red;
    border: 1px solid #e0e0e0;
    height: 94px;
    padding: 25px;
}
.no_data_found{
	padding:0px 15px
}
