.main-slider .content-box{
	position: relative;
	max-width: 678px;
	padding: 25px 25px 25px 0;
	padding-left: 0px;
	color: #fff;
	left: 207px;
	top: 0;
	padding-left: 0px;
}
.slider_heading{
position: absolute;
top: 200px;
width: 100%;
}
.listting-inner {
    min-height: 132px;
}
.listing-img img {
    height: 195px;
}

